*{
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}

:root{
    --tea-green: #c9e4caff;
    --cambridge-blue: #87bba2ff;
    --blue-munsell: #55828bff;
    --dark-slate-gray: #3b6064ff;
    --charcoal: #364958ff;
}

@font-face {
    font-family: 'oswaldlight';
    src: url('./fonts/oswald-light-webfont.woff2') format('woff2'),
         url('./fonts/oswald-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'oswald_regularregular';
    src: url('./fonts/oswald-regular-webfont.woff2') format('woff2'),
         url('./fonts/oswald-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: minmax(14rem, 15vw) 1fr;
    grid-template-rows: 1fr 8fr;
    font-family: 'oswaldlight', Arial, Helvetica, sans-serif;
}

body header{
    grid-column: 1 / 3;
    grid-row: 1 / 2;

    display: flex;
    justify-content: baseline;
    align-items: center;

    font-family: 'oswald_regularregular', inherit;
    font-weight: 600;
    background-color: var(--charcoal);
    color: var(--tea-green);
}

body .sidebar{
    grid-column: 1 / 2;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 24px;

    background-color: var(--dark-slate-gray);
    color: var(--tea-green);
}

body .main-content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    align-items: baseline;
    justify-content: center;

    background-color: var(--blue-munsell);
    color: var(--tea-green);
}

button{
    background-color: inherit;
    color: inherit;
    border: none;
    font-family: inherit;
}

button:hover{
    cursor: pointer;
    opacity: .5;
}

svg {
    max-width: 100%;
    height: auto;
    display: block;
}

header .header-title-container{
    margin-left: 24px;
    display: flex;
    gap: 4px;
    font-size: 3rem;
}

.sidebar > * {
    margin-left: 12px;
}

.sidebar .date-nav{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 32px;
}

.date-nav .date-group{
    display: flex;
    align-items: center;
}

.sidebar .project-nav{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 8px;
}

.project-nav .project-group{
    display: flex;
    align-items: center;
    gap: 12px;
}

.project-nav .add-new-project{
    display: flex;
    align-items: center;
    gap: 12px;
}

.project-nav h2{
    font-size: 2rem;
    font-weight: 600;
}

.project-nav .project-name-text:hover{
    cursor: pointer;
    opacity: .5;
}

.cur-selected-project{
    color: var(--cambridge-blue);
}

.main-content .main-content-container{
    display: flex;
    flex-direction: column;

    width: 70%;
    padding-top: 32px;
}

.main-content-container h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 24px;
}

.main-content-container .tasks-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tasks-header-container .add-new-task{
    display: flex;
    align-items: center;
    gap: 4px;
}

.main-content-container .tasks-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.main-content-container .task-card{
    display: flex;
    justify-content: space-between;
}

.task-card .task-card-left-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.task-card-left-container .task-name{
    font-size: 1.5rem;
}

.task-card .task-card-right-container{
    display: flex;
}

form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--charcoal);
    color: var(--tea-green);
    font-family: inherit;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 12px;
}

form h2{
    font-size: 2rem
}

form button{
    padding: 4px 8px;
    background-color: var(--dark-slate-gray);
}

.form-header-container{
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.form-header-container .modal-close-button{
    margin-left: auto;
    font-size: 1.5rem;
}

.new-task-form .form-input-container{
    display: flex;
    flex-direction: column;
    gap: 12px;
}